In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('AB_US_2020.csv')

In [3]:
print(df.shape)
df.head()

(226030, 17)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [4]:
# df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
city                               object
dtype: object

In [5]:
# df.describe(exclude='number')

,name,host_name,neighbourhood_group,neighbourhood,room_type,last_review,city
count,226002,225997,110185,226030,226030,177428,226030
unique,218443,30533,34,1450,4,2377,28
top,Home away from home,Michael,Manhattan,Unincorporated Areas,Entire home/apt,15/03/20,New York City
freq,75,2025,20236,8020,154173,2915,45756

In [6]:
# df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.260300e+05,2.260300e+05,226030.000000,226030.000000,226030.000000,2.260300e+05,226030.000000,177428.00000,226030.000000,226030.000000
mean,2.547176e+07,9.352385e+07,35.662829,-103.220662,219.716529,4.525490e+02,34.506530,1.43145,16.698562,159.314856
std,1.317814e+07,9.827422e+07,6.849855,26.222091,570.353609,2.103376e+05,63.602914,1.68321,51.068966,140.179628
min,1.090000e+02,2.300000e+01,18.920990,-159.714900,0.000000,1.000000e+00,0.000000,0.01000,1.000000,0.000000
25%,1.515890e+07,1.399275e+07,32.761783,-118.598115,75.000000,1.000000e+00,1.000000,0.23000,1.000000,0.000000
50%,2.590916e+07,5.138266e+07,37.261125,-97.817200,121.000000,2.000000e+00,8.000000,0.81000,2.000000,140.000000
75%,3.772624e+07,1.497179e+08,40.724038,-76.919322,201.000000,7.000000e+00,39.000000,2.06000,6.000000,311.000000
max,4.556085e+07,3.679176e+08,47.734620,-70.995950,24999.000000,1.000000e+08,966.000000,44.06000,593.000000,365.000000

In [7]:
# df.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115845
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [8]:
# df['price'].value_counts()

100     5826
150     5722
75      4710
50      4401
80      3908
        ...
1236       1
1364       1
1620       1
1876       1
2047       1
Name: price, Length: 1975, dtype: int64

In [9]:
# df['room_type'].value_counts()

Entire home/apt    154173
Private room        65887
Shared room          4029
Hotel room           1941
Name: room_type, dtype: int64

In [10]:
def wrangle(X):
    """ wrangle function for data"""

    X = X.copy()
    # if lat and long need to be formatted
    #X['latitude'] = X['latitude'].replace(-2e08, 0)
    # #X['longitude'] = X['longitude'].replace(-2e08, 0)

    # columns to drop 
    dropped = ['host_id', 'host_name', 'id', 'neighbourhood_group', 'neighbourhood', 
                'number_of_reviews', 'last_review', 'reviews_per_month',
                'calculated_host_listings_count', 'availability_365']
    X = X.drop(columns=dropped)

    # wrangle and return
    return X

In [34]:
df = wrangle(df)
df.head()

,name,latitude,longitude,room_type,price,minimum_nights,city
0,Charming Victorian home - twin beds + breakfast,35.65146,-82.62792,Private room,60,1,Asheville
1,French Chic Loft,35.59779,-82.55540,Entire home/apt,470,1,Asheville
2,Walk to stores/parks/downtown. Fenced yard/Pet...,35.60670,-82.55563,Entire home/apt,75,30,Asheville
3,Cottage! BonPaul + Sharky's Hostel,35.57864,-82.59578,Entire home/apt,90,1,Asheville
4,Historic Grove Park,35.61442,-82.54127,Private room,125,30,Asheville

In [11]:
pip install scikit-learn==0.22.2.post1
pip install category_encoders

In [35]:
# create val set
from sklearn.model_selection import train_test_split
train, val = train_test_split(df, train_size=.8, test_size=.2, random_state=42,)
train.shape, val.shape

((180824, 7), (45206, 7))

In [27]:
import category_encoders as ce 
from sklearn.metrics import r2_score, mean_absolute_error, accuracy_score
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

Collecting category_encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 4.8 MB/s
Requirement already satisfied: pandas>=0.21.1 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from category_encoders) (1.0.3)
Requirement already satisfied: numpy>=1.14.0 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from category_encoders) (1.18.4)
Collecting patsy>=0.5.1
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
     |████████████████████████████████| 231 kB 22.0 MB/s
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.12.1-cp37-cp37m-macosx_10_13_x86_64.whl (9.6 MB)
     |████████████████████████████████| 9.6 MB 22.2 MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from category_encoders) (0.22.2)
Requirement already satisfied: scipy>=1.0.0 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from patsy>=0.5.1->category_encoders) (1.14.0)
Requirement already satisfied: joblib>=0.11 in /Users/masonnystrom/opt/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)
Installing collected packages: patsy, statsmodels, category-encoders
Successfully installed category-encoders-2.2.2 patsy-0.5.1 statsmodels-0.12.1
Note: you may need to restart the kernel to use updated packages.

In [36]:
# x matrices and y vectors
target = 'price'


X_train = df.drop(columns = [target, 'name', 'city', "room_type"])
y_train = df[target]

X_val = val.drop(columns = [target, 'name', 'city', 'room_type'])
y_val = val[target]

In [37]:
# X_train.columns

Index(['latitude', 'longitude', 'minimum_nights'], dtype='object')

In [38]:
airbnb_model = make_pipeline(
    ce.TargetEncoder(min_samples_leaf=1, smoothing=1), 
    SimpleImputer(strategy='median'), 
    RandomForestRegressor(n_estimators=100, n_jobs=-1, random_state=42)
)
airbnb_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('targetencoder',
                 TargetEncoder(cols=[], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               min_samples_leaf=1, return_df=True,
                               smoothing=1.0, verbose=0)),
                ('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('randomforestregressor',
                 Rando...stRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=None,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=100, n_jobs=-1,
                                       oob_score=False, random_state=42,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [40]:
print('Train Accuracy:', model.score(X_train, y_train))
print('Val Accuracy:', model.score(X_val, y_val))

Train Accuracy: 0.8751703905128797
Val Accuracy: 0.8786331815096016

In [41]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
prediction = airbnb_model.predict(X_val)
print("R2 Score:", r2_score(y_val, prediction))
print("MSE:", mean_squared_error(y_val, prediction))
print("MAE:", mean_absolute_error(y_val, prediction))

R2 Score: 0.8786331815096016
MSE: 44185.9910736412
MAE: 55.109132295154836

In [42]:
# X_val.columns

Index(['latitude', 'longitude', 'minimum_nights'], dtype='object')

In [ ]:
#compress and pickle model 
import pickle
import joblib
# filename = 'airbnb_model1.pckl'
# pickle.dump(airbnb_model, open(filename, 'wb'))

joblib.dump(airbnb_model, 'airbnb_model1.pkl',compress=7)

# loading a model 
# with open(airbnb-model, 'rb') as h:
#     loaded_model = pickle.load(h)